.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#0b0b0b;opacity:.8;filter:alpha(opacity=80)}
.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:0!important;-webkit-backface-visibility:hidden}
.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle}
.mfp-align-top .mfp-container:before{display:none}
.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}
.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}
.mfp-ajax-cur{cursor:progress}
.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}
.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}
.mfp-auto-cursor .mfp-content{cursor:auto}
.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}
.mfp-loading.mfp-figure{display:none}
.mfp-hide{display:none!important}
.mfp-preloader{color:#CCC;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}
.mfp-preloader a{color:#CCC}
.mfp-preloader a:hover{color:#FFF}
.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}
button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none}
button::-moz-focus-inner{padding:0;border:0}
.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;filter:alpha(opacity=65);padding:0 0 18px 10px;color:#FFF;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}
.mfp-close:focus,.mfp-close:hover{opacity:1;filter:alpha(opacity=100)}
.mfp-close:active{top:1px}
.mfp-close-btn-in .mfp-close{color:#333}
.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#FFF;right:-6px;text-align:right;padding-right:6px;width:100%}
.mfp-counter{position:absolute;top:0;right:0;color:#CCC;font-size:12px;line-height:18px;white-space:nowrap}
.mfp-arrow{position:absolute;opacity:.65;filter:alpha(opacity=65);margin:-55px 0 0;top:50%;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}
.mfp-arrow:active{margin-top:-54px}
.mfp-arrow:focus,.mfp-arrow:hover{opacity:1;filter:alpha(opacity=100)}
.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:inset transparent}
.mfp-arrow .mfp-a,.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}
.mfp-arrow .mfp-b,.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px;opacity:.7}
.mfp-arrow-left{left:0}
.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{border-right:17px solid #FFF;margin-left:31px}
.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3F3F3F}
.mfp-arrow-right{right:0}
.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{border-left:17px solid #FFF;margin-left:39px}
.mfp-arrow-right .mfp-b,.mfp-arrow-right:before{border-left:27px solid #3F3F3F}
.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}
.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}
.mfp-iframe-holder .mfp-close{top:-40px}
.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}
.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0,0,0,.6);background:#000}
img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0;margin:0 auto}
.mfp-figure{line-height:0}
.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,.6);background:#444}
.mfp-figure small{color:#BDBDBD;display:block;font-size:12px;line-height:14px}
.mfp-figure figure{margin:0}
.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}
.mfp-title{text-align:left;line-height:18px;color:#F3F3F3;word-wrap:break-word;padding-right:36px}
.mfp-image-holder .mfp-content{max-width:100%}
.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}
@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}
.mfp-img-mobile img.mfp-img{padding:0}
.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}
.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}
.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}
.mfp-img-mobile .mfp-counter{right:5px;top:3px}
.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}}
@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(.75);transform:scale(.75)}
.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}
.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}
.mfp-container{padding-left:6px;padding-right:6px}}
.mfp-ie7 .mfp-img{padding:0}
.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}
.mfp-ie7 .mfp-container{padding:0}
.mfp-ie7 .mfp-content{padding-top:44px}
.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}
.white-popup{position:relative;background:#FFF;padding:20px;width:auto;max-width:750px;margin:20px auto}
.mfp-fade.mfp-bg{opacity:0;-webkit-transition:all .15s ease-out;-moz-transition:all .15s ease-out;transition:all .15s ease-out}
.mfp-fade.mfp-bg.mfp-ready{opacity:.8}
.mfp-fade.mfp-bg.mfp-removing{opacity:0}
.mfp-fade.mfp-wrap .mfp-content{opacity:0;-webkit-transition:all .15s ease-out;-moz-transition:all .15s ease-out;transition:all .15s ease-out}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content{opacity:1}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content{opacity:0}
.mfp-zoom-in .mfp-with-anim{opacity:0;transition:all .2s ease-in-out;transform:scale(.8)}
.mfp-zoom-in.mfp-bg{opacity:0;transition:all .3s ease-out}
.mfp-zoom-in.mfp-ready .mfp-with-anim{opacity:1;transform:scale(1)}
.mfp-zoom-in.mfp-ready.mfp-bg{opacity:.8}
.mfp-zoom-in.mfp-removing .mfp-with-anim{transform:scale(.8);opacity:0}
.mfp-zoom-in.mfp-removing.mfp-bg{opacity:0}
.mfp-newspaper .mfp-with-anim{opacity:0;-webkit-transition:all .2s ease-in-out;transition:all .5s;transform:scale(0) rotate(500deg)}
.mfp-newspaper.mfp-bg{opacity:0;transition:all .5s}
.mfp-newspaper.mfp-ready .mfp-with-anim{opacity:1;transform:scale(1) rotate(0deg)}
.mfp-newspaper.mfp-ready.mfp-bg{opacity:.8}
.mfp-newspaper.mfp-removing .mfp-with-anim{transform:scale(0) rotate(500deg);opacity:0}
.mfp-newspaper.mfp-removing.mfp-bg{opacity:0}
.mfp-move-horizontal .mfp-with-anim{opacity:0;transition:all .3s;transform:translateX(-50px)}
.mfp-move-horizontal.mfp-bg{opacity:0;transition:all .3s}
.mfp-move-horizontal.mfp-ready .mfp-with-anim{opacity:1;transform:translateX(0)}
.mfp-move-horizontal.mfp-ready.mfp-bg{opacity:.8}
.mfp-move-horizontal.mfp-removing .mfp-with-anim{transform:translateX(50px);opacity:0}
.mfp-move-horizontal.mfp-removing.mfp-bg{opacity:0}
.mfp-move-from-top .mfp-content{vertical-align:top}
.mfp-move-from-top .mfp-with-anim{opacity:0;transition:all .2s;transform:translateY(-100px)}
.mfp-move-from-top.mfp-bg{opacity:0;transition:all .2s}
.mfp-move-from-top.mfp-ready .mfp-with-anim{opacity:1;transform:translateY(0)}
.mfp-move-from-top.mfp-ready.mfp-bg{opacity:.8}
.mfp-move-from-top.mfp-removing .mfp-with-anim{transform:translateY(-50px);opacity:0}
.mfp-move-from-top.mfp-removing.mfp-bg{opacity:0}
.mfp-3d-unfold .mfp-content{perspective:2000px}
.mfp-3d-unfold .mfp-with-anim{opacity:0;transition:all .3s ease-in-out;transform-style:preserve-3d;transform:rotateY(-60deg)}
.mfp-3d-unfold.mfp-bg{opacity:0;transition:all .5s}
.mfp-3d-unfold.mfp-ready .mfp-with-anim{opacity:1;transform:rotateY(0deg)}
.mfp-3d-unfold.mfp-ready.mfp-bg{opacity:.8}
.mfp-3d-unfold.mfp-removing .mfp-with-anim{transform:rotateY(60deg);opacity:0}
.mfp-3d-unfold.mfp-removing.mfp-bg{opacity:0}
.mfp-zoom-out .mfp-with-anim{opacity:0;transition:all .3s ease-in-out;transform:scale(1.3)}
.mfp-zoom-out.mfp-bg{opacity:0;transition:all .3s ease-out}
.mfp-zoom-out.mfp-ready .mfp-with-anim{opacity:1;transform:scale(1)}
.mfp-zoom-out.mfp-ready.mfp-bg{opacity:.8}
.mfp-zoom-out.mfp-removing .mfp-with-anim{transform:scale(1.3);opacity:0}
.mfp-zoom-out.mfp-removing.mfp-bg{opacity:0}
@keyframes hinge{0%{transform:rotate(0);-webkit-transform:rotate(0);transform-origin:top left;-webkit-transform-origin:top left;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out}
20%,60%{-webkit-transform:rotate(80deg);transform:rotate(80deg);transform-origin:top left;-webkit-transform-origin:top left;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out}
40%{transform:rotate(60deg);-webkit-transform:rotate(60deg);transform-origin:top left;-webkit-transform-origin:top left;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out}
80%{transform:rotate(60deg) translateY(0);-webkit-transform:rotate(60deg) translateY(0);opacity:1;transform-origin:top left;-webkit-transform-origin:top left;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out}
100%{transform:translateY(700px);-webkit-transform:translateY(700px);opacity:0}}
.hinge{animation-duration:1s;animation-name:hinge;-webkit-animation-duration:1s;-webkit-animation-name:hinge}
.mfp-with-fade .mfp-content,.mfp-with-fade.mfp-bg{opacity:0;transition:opacity .5s ease-out}
.mfp-with-fade.mfp-ready .mfp-content{opacity:1}
.mfp-with-fade.mfp-ready.mfp-bg{opacity:.8}
.mfp-with-fade.mfp-removing.mfp-bg{opacity:0}
.isotope-item{z-index:2}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1}
.isotope,.isotope .isotope-item{-webkit-transition-duration:.8s;-moz-transition-duration:.8s;-ms-transition-duration:.8s;-o-transition-duration:.8s;transition-duration:.8s}
.isotope{-webkit-transition-property:height,width;-moz-transition-property:height,width;-ms-transition-property:height,width;-o-transition-property:height,width;transition-property:height,width}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-ms-transition-property:-ms-transform,opacity;-o-transition-property:top,left,opacity;transition-property:transform,opacity}
.isotope .isotope-item.no-transition,.isotope.no-transition,.isotope.no-transition .isotope-item{-webkit-transition-duration:0s;-moz-transition-duration:0s;-ms-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s}
.isotope.infinite-scrolling{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none}
.element{overflow:hidden;background:#fff;color:#222}
.element.alkali{background:red}
.element.alkaline-earth{background:#f90}
.element.lanthanoid{background:#cf0}
.element.actinoid{background:#3f0}
.element.transition{background:#0f6}
.element.post-transition{background:#0ff}
.element.metalloid{background:#06f}
.element.other.nonmetal{background:#30f}
.element.halogen{background:#c0f}
.element.noble-gas{background:#f09}
.element{position:absolute;margin:0}
.element .symbol{left:.2em;top:.4em;font-size:3.8em;line-height:1em;color:#FFF}
.element.large .symbol{font-size:4.5em}
.element.fake .symbol{color:#000}
.element img{margin:0 auto;display:block}
.variable-sizes .element.width2{width:230px}
.variable-sizes .element.height2{height:230px}
.variable-sizes .element.width2.height2{font-size:2em}
.element.large,.variable-sizes .element.large,.variable-sizes .element.large.width2.height2{font-size:3em;width:350px;height:350px;z-index:100}
.clickable .element:hover{cursor:pointer}
.clickable .element:hover h3{text-shadow:0 0 10px #fff,0 0 10px #fff}
.clickable .element:hover h2{color:#fff}
.item{width:120px}
.color-shape{width:70px;height:70px;margin:5px;float:left}
.color-shape.round{-webkit-border-radius:35px;-moz-border-radius:35px;border-radius:35px}
.color-shape.big.round{-webkit-border-radius:75px;-moz-border-radius:75px;border-radius:75px}
.color-shape.red{background:red}
.color-shape.blue{background:#00f}
.color-shape.yellow{background:#ff0}
.color-shape.big,.color-shape.wide{width:150px}
.color-shape.big,.color-shape.tall{height:150px}
.color-shape a{display:block;height:100%}
.color-shape a:hover{background:#fff;background:rgba(255,255,255,.5)}
.horizontal #portfolio{height:80%}
#copy{max-width:640px}
.photos .photo{width:320px;margin:5px;float:left}
.photos .photo img{display:block;width:100%}
#TzContent{width:100%}
.demos #content{height:100%}
.docs #content{max-width:640px}
.docs #content a:hover{border-bottom:1px dotted}
#site-nav{width:200px;position:absolute;left:10px;top:0;padding-top:20px;font-size:12px}
#site-nav h1{font-size:24px;margin-bottom:.5em;margin-top:0;font-weight:700;font-family:'Helvetica Neue',Arial,sans-serif}
#site-nav h2{font-size:17px;font-weight:400;margin:0 0 .3em;border-top:none}
#site-nav h1 a{color:#4FB}
#site-nav h1 a:hover{color:#4BF}
#site-nav ul{list-style:none;margin:0 0 1em;font-weight:700}
#site-nav ul ul{margin-bottom:0}
#site-nav ul a{display:block;border:none;padding:1px 5px}
#site-nav ul .current a{background:rgba(0,0,0,.3);color:#1BF}
#site-nav ul .current a:hover,#site-nav ul a:hover{color:#fff}
#site-nav ul .current .toc a{font-size:12px;padding-left:1.2em;font-weight:400}
.docs #content h2{border-top:1px solid #333;padding-top:.8em;margin-bottom:.8em}
.docs #content h2:target{padding:10px;background:#fff;color:#222}
.docs #content h3{color:#FEC;background:rgba(191,191,191,.05);padding:2px .5em;margin-bottom:.5em;font-size:1.15em}
.docs #content h4{margin-bottom:.5em;font-size:14px}
footer{font-size:12px;font-style:italic;border-top:1px solid #333;padding:.8em 0}
pre{padding:10px}
code,pre{background:#000;color:#fff;font-family:Monaco,monospace,sans-serif}
#content code{font-size:12px}
#content pre{line-height:1.6em}
h3#tz_options{padding-bottom:0}
.option-def dl dd,.option-def dl dt{float:left;padding:0 1.2em;background:#161616;line-height:36px;height:36px}
.option-def dl.header dd,.option-def dl.header dt{background:#444}
.option-def dl .option-type{font-size:13px;color:#AAA;font-style:italic}
.option-def dl dd{border-left:1px solid #222}
.docs .tagline{font-size:22px;font-weight:300}
.docs .as-is{font-size:95%}
.docs #commercial{background:#fff;padding:10px;font-size:14px;color:#1F1F1D}
.docs #commercial a{font-weight:700}
code .s,code .s1{color:#78BD55}
code .cp,code .kc,code .mi{color:#5298D4}
code .k{color:#E39B79}
code .kd,code .na{color:#A9D866}
code .p{color:#EDB}
code .o{color:#F63}
code .nb{color:#AA97AC}
code .c,code .c1{color:#666;font-style:italic}
code .nt{color:#A0C8FC}
code .nf{color:#9EA8B8}
code .nc{color:#A78352}
code .m{color:#DE8E50}
code .nd{color:#9FAD7E}
#sites h2{display:none;padding:.4em;line-height:32px;margin-bottom:.4em;-webkit-transition:background-color .8s;-moz-transition:background-color .8s;-o-transition:background-color .8s;transition:background-color .8s}
#sites h2 img{display:inline-block;margin-right:.4em;vertical-align:bottom}
#sites h2.loading{background:#fff;color:#222}
#sites h2.error{background:red;color:#222}
#sites ul{margin:0}
.big-graph{background:#fff;height:600px;margin:20px auto}
.big-graph .project{width:45px;height:45px;float:left}
.big-graph .project .icon{pointer-events:none;width:31px;height:31px;background:#fff;margin-left:7px;-webkit-transition:-webkit-transform .25s;-moz-transition:-moz-transform .25s;-ms-transition:-ms-transform .25s;-o-transition:-o-transform .25s;transition:transform .25s}
.big-graph .project:hover{z-index:5}
.big-graph .project:hover .icon{-webkit-transform:scale(3);-moz-transform:scale(3);-ms-transform:scale(3);-o-transform:scale(3);transform:scale(3)}
.big-graph .project.commercial .icon{background:#6B6B6B}
.big-graph .project.urbanism .icon{background:#00CF00}
.big-graph .project.public-space .icon{background:#FF8D00}
.big-graph .project.culture .icon{background:#D61919}
.big-graph .project.body-culture .icon{background:#00ECFF}
.big-graph .project.health .icon{background:#FF2251}
.big-graph .project.education .icon{background:#00A700}
.big-graph .project.housing .icon{background:#FF02FF}
.big-graph .project.hotel .icon{background:#0000C3}
.big-graph .project.media .icon{background:#292929}
.big-graph .project p{line-height:14px;font-size:10.5px;color:#000;margin-left:7px}
#infscr-loading{position:fixed;text-align:center;bottom:30px;left:42%;z-index:100;background:#fff;background:rgba(255,255,255,.9);padding:20px;color:#222;font-size:15px;font-weight:700;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
button,html,input,select,textarea{font-family:sans-serif}
body{margin:0}
a:focus{outline:dotted thin}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.67em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
blockquote{margin:1em 40px}
dfn{font-style:italic}
hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:after,q:before{content:'';content:none}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ol,nav ul{list-style:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure,form{margin:0}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;white-space:normal}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
@font-face{font-family:frame;src:url(../fonts/frame.eot?w7kbvt);src:url(../fonts/frame.eot?#iefixw7kbvt) format('embedded-opentype'),url(../fonts/frame.woff?w7kbvt) format('woff'),url(../fonts/frame.ttf?w7kbvt) format('truetype'),url(../fonts/frame.svg?w7kbvt#frame) format('svg');font-weight:400;font-style:normal}
[class*=" icon-"],[class^=icon-]{font-family:frame;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-avotz:before{content:"\e600"}
.icon-phone:before{content:"\f095"}
.icon-twitter:before{content:"\f099"}
.icon-facebook:before{content:"\f09a"}
.icon-bars:before{content:"\f0c9"}
.icon-google-plus:before{content:"\f0d5"}
.icon-angle-left:before{content:"\f104"}
.icon-angle-right:before{content:"\f105"}
.icon-quote-left:before{content:"\f10d"}
.icon-quote-right:before{content:"\f10e"}
.icon-youtube:before{content:"\f167"}
.icon-skype:before{content:"\f17e"}
@font-face{font-family:geosans;src:url(../fonts/geosanslight-webfont.eot);src:url(../fonts/geosanslight-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/geosanslight-webfont.woff2) format('woff2'),url(../fonts/geosanslight-webfont.woff) format('woff'),url(../fonts/geosanslight-webfont.ttf) format('truetype'),url(../fonts/geosanslight-webfont.svg#geosanslightregular) format('svg');font-weight:400;font-style:normal}
body{font-family:Lato,sans-serif;font-size:16px;font-weight:300;line-height:30px;color:#707070}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
ul{margin:0;padding:0}
a{text-decoration:none;color:#00aeef}
h1,h2,h3,h4,h5{font-weight:300;margin-top:0}
img{max-width:100%;height:auto}
label{display:inline-block;margin-bottom:2px}
label.error{color:#ec5220}
input[type=text],input[type=email],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:#fff;background-image:-webkit-linear-gradient(#eee 1%,#fff 15%);background-image:-moz-linear-gradient(#eee 1%,#fff 15%);background-image:-o-linear-gradient(#eee 1%,#fff 15%);background-image:-ms-linear-gradient(#eee 1%,#fff 15%);background-image:linear-gradient(#eee 1%,#fff 15%);border:1px solid #e3e3e3;color:#444;width:100%;height:23px}
textarea{height:auto}
button,input[type=submit]{background:rojo;border:none;clear:both;color:#fff;cursor:pointer;font-size:12px;height:26px;margin-right:4px;min-width:80px}
.right{right:0}
.left{left:0}
.txt-center{text-align:center}
.orange{color:#ec5220}
.light-blue{color:#00aeef}
.green{color:#8dc63f}
.bg-green{background:#8dc63f}
.list-big{font-size:1.5em}
.list-big li{margin-bottom:30px}
.inner{max-width:1200px;margin:0 auto;position:relative;padding:0 1em}
.header{height:84px;background:#2c323b}
.header-logo{display:block;width:200px;line-height:74px;float:left;padding-top:10px;margin-right:5px}
.header-logo-img{width:100%}
.header-contactCall{display:none;float:right;color:#fff;border:1px solid #fff;padding:.5em;margin-top:.8em;border-bottom-width:3px;font-size:1.2em}
.header-contactCall a{color:#fff;padding:0 .5em}
.header-contactCall .icon-phone{color:#fff;display:inline-block;font-size:1em;vertical-align:middle;margin-right:.5em}
.header-contactCall p{display:inline-block;margin:0}
.btn-menu{background:0 0;border:0;font-size:2em;display:block;position:absolute;right:0;top:25px;outline:0;height:34px;width:40px}
.menu{display:none;position:absolute;left:0;right:0;top:40px;background:#446a8d;z-index:999;text-align:center}
.menu ul{list-style:none}
.menu .celeste:hover{color:#00aeef!important}
.menu .green:hover{color:#8dc63f!important}
.menu .orange:hover{color:#ec5220!important}
.menu li{display:block;line-height:40px}
.menu li a,.menu li span{display:block;padding:0 .5em;color:#b6cde9;cursor:pointer;font-size:1.2em}
.menu li a:hover,.menu li span:hover{color:#fff}
.menu .item-102 .nav-child,.menu .item-105 .nav-child,.menu .item-107 .nav-child{display:none!important}
.menu .nav-child{display:block}
.menu .nav-child li a{color:#fff}
.banner .inner{height:500px}
.banner-slide{width:100%;height:500px;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover}
.banner-info{position:absolute;bottom:20%;background:rgba(0,0,0,.8);padding:3.5em 2.5em 2em;-webkit-border-radius:10px;border-radius:10px}
.banner-info left 1em,.banner-info.left,.banner-info.right{right:1em}
.banner-title{margin:0;font-family:geosans;font-size:5em;color:#fff;font-weight:300}
.banner-subtitle{color:#446a8d;font-family:geosans;font-size:3em;margin-top:.5em;display:block}
.testimonials{background:#f4f4f4;padding:4em 0}
.testimony-info{padding:0 2.5em;margin-bottom:1.5em}
.testimony-info:after,.testimony-info:before{font-family:frame;color:#787878;position:absolute;font-size:2em}
.testimony-info:after{right:0;content:'\f10e'}
.testimony-info:before{left:0;content:'\f10d'}
.testimony-author{font-size:13px;text-align:right;line-height:16px;padding-top:15px}
.testimony-author-avatar{float:right;margin-left:15px;margin-top:-15px}
.testimony-author img{-webkit-border-radius:50%;border-radius:50%}
.main{padding:25px 0;min-height:650px}
.main ul{margin-left:20px;margin-bottom:25px}
.main a{text-decoration:underline}
.main a:hover{text-decoration:none}
.main .leftSection,.main .rightSection{display:inline-block;vertical-align:top}
.main .rightSection{padding:1em;color:#000;width:100%}
.main .leftSection{width:100%}
.bgid-101 .main{min-height:0}
.bgid-102 .projects,.bgid-105 .framing-difference,.bgid-107 .offers{margin-top:-25px}
.bgid-109 .partners{margin-top:-60px;float:right}
.bgid-109 .partners a{width:89px}
.benefits-tabs,.green-build{overflow:hidden}
.benefits-tabs ul{margin:0;padding:0;list-style:none}
.benefits-tabs li{display:inline-block;vertical-align:top;background-color:#446a8d;cursor:pointer;color:#fff;padding:.3em;margin-bottom:.5em}
.benefits-tabs li.active,.benefits-tabs li:hover{background-color:#00aeef}
.benefits-container{position:relative;padding-top:1em;min-height:360px}
.benefits-item{display:none;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease}
.benefits-item.is-visible{display:block}
.benefits h3{font-weight:700}
.benefits-img{display:none;max-width:540px;width:50%;margin-right:3em}
.partners{margin-top:3em;text-align:center}
.partners-title{text-align:center}
.partners-img{filter:grayscale(100%);-webkit-filter:grayscale(100%);-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease}
.partners-img:hover{filter:grayscale(0);-webkit-filter:grayscale(0)}
.partners-item{display:inline-block;padding:.3em;vertical-align:middle}
.build-green ul li,.build-smart ul li{line-height:20px;margin-bottom:1em}
.build-green-gallery,.build-smart-gallery{text-align:center}
.contact-info{position:static;right:2em;bottom:2em}
.contact-social a{display:inline-block;background:#787878;font-size:1.5rem;text-decoration:none!important;padding:.5rem;color:#fff!important}
.contact-social a:first-child{padding:.5rem .8rem}
.contact-social a:hover{background-color:#00aeef!important}
.b2j_contact{background:#fff!important}
.b2jcontainer h2{background:#00aeef}
.b2jcontainer .btn{background:#2c323b!important;padding:.5rem!important;height:auto!important}
.home{text-align:center}
.home-items{margin-top:0}
.home-item{display:inline-block;vertical-align:top;padding:0 1em}
.home-item h3{font-weight:500}
.home-segments{margin-top:1em}
.home-segment{display:inline-block;padding:0 2em}
.framing-container,.framing-items,.offer-container,.offer-items,.projects-container,.projects-items{list-style:none;overflow:hidden;clear:both;background:url(../img/bg_portafolio.png)}
.framing-item,.offer-item,.projects-item{width:100%;line-height:0;position:relative;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease}
.framing-item.default h4,.framing-item.featured h4,.offer-item.default h4,.offer-item.featured h4,.projects-item.default h4,.projects-item.featured h4{font-size:2em}
.framing-link,.offer-link,.projects-link{display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.5);opacity:1;-ms-filter:none;filter:none;-webkit-transition:background .5s .5s,opacity .5s .5s;-moz-transition:background .5s .5s,opacity .5s .5s;-o-transition:background .5s .5s,opacity .5s .5s;-ms-transition:background .5s .5s,opacity .5s .5s;transition:background .5s .5s,opacity .5s .5s}
.framing-link:before,.offer-link:before,.projects-link:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-.4em}
.framing-link div,.offer-link div,.projects-link div{opacity:1;-ms-filter:none;filter:none;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;-ms-transition:opacity .2s;transition:opacity .2s}
.framing-link h4,.framing-link p,.offer-link h4,.offer-link p,.projects-link h4,.projects-link p{opacity:1;-ms-filter:none;filter:none;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-o-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}
.framing-link h4,.offer-link h4,.projects-link h4{-webkit-transition:opacity .5s,-webkit-transform .5s;-moz-transition:opacity .5s,-moz-transform .5s;-o-transition:opacity .5s,-o-transform .5s;-ms-transition:opacity .5s,-ms-transform .5s;transition:opacity .5s,transform .5s}
.framing-link p,.offer-link p,.projects-link p{-webkit-transition:background-color .5s,opacity .5s .2s,-webkit-transform .5s .2s;-moz-transition:background-color .5s,opacity .5s .2s,-moz-transform .5s .2s;-o-transition:background-color .5s,opacity .5s .2s,-o-transform .5s .2s;-ms-transition:background-color .5s,opacity .5s .2s,-ms-transform .5s .2s;transition:background-color .5s,opacity .5s .2s,transform .5s .2s}
.framing-content,.offer-content,.projects-content{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);text-align:left;vertical-align:middle;display:inline-block;width:100%;-webkit-transition:opacity .5s .4s,background .5s .5s;-moz-transition:opacity .5s .4s,background .5s .5s;-o-transition:opacity .5s .4s,background .5s .5s;-ms-transition:opacity .5s .4s,background .5s .5s;transition:opacity .5s .4s,background .5s .5s;-webkit-perspective:300px;-moz-perspective:300px;-ms-perspective:300px;perspective:300px}
.framing-description,.framing-title,.offer-description,.offer-title,.projects-description,.projects-title{line-height:25px;width:90%;margin:0 5%;word-wrap:break-word}
.framing-title,.offer-title,.projects-title{font-size:61px;line-height:1em;color:#fff;font-weight:900;margin-bottom:15px;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translateZ(-30px);-moz-transform:translateZ(-30px);-o-transform:translateZ(-30px);-ms-transform:translateZ(-30px);transform:translateZ(-30px);-webkit-transition:opacity .2s .2s,-webkit-transform .2s .2s;-moz-transition:opacity .2s .2s,-moz-transform .2s .2s;-o-transition:opacity .2s .2s,-o-transform .2s .2s;-ms-transition:opacity .2s .2s,-ms-transform .2s .2s;transition:opacity .2s .2s,transform .2s .2s;text-shadow:1px 1px 2px rgba(0,0,0,.75)}
.framing-description,.offer-description,.projects-description{color:#fff;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translateZ(-30px);-moz-transform:translateZ(-30px);-o-transform:translateZ(-30px);-ms-transform:translateZ(-30px);transform:translateZ(-30px);-webkit-transition:background-color .5s,opacity .2s,-webkit-transform .2s;-moz-transition:background-color .5s,opacity .2s,-moz-transform .2s;-o-transition:background-color .5s,opacity .2s,-o-transform .2s;-ms-transition:background-color .5s,opacity .2s,-ms-transform .2s;transition:background-color .5s,opacity .2s,transform .2s}
.framing-image,.offer-image,.projects-image{width:100%}
.difference-container,.services-container{background:url(../img/bg_portafolio.png)}
.difference .projects-link,.services .projects-link{background-color:rgba(0,0,0,.5);opacity:1;-ms-filter:none;filter:none;-webkit-transition:background .2s,opacity .2s;-moz-transition:background .2s,opacity .2s;-o-transition:background .2s,opacity .2s;-ms-transition:background .2s,opacity .2s;transition:background .2s,opacity .2s;cursor:pointer}
.difference .projects-link div,.services .projects-link div{opacity:1;-ms-filter:none;filter:none;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;-ms-transition:opacity .2s;transition:opacity .2s}
.difference .projects-link h4,.difference .projects-link p,.services .projects-link h4,.services .projects-link p{opacity:1;-ms-filter:none;filter:none;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-o-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}
.difference .projects-link h4,.services .projects-link h4{-webkit-transition:opacity .5s,-webkit-transform .5s;-moz-transition:opacity .5s,-moz-transform .5s;-o-transition:opacity .5s,-o-transform .5s;-ms-transition:opacity .5s,-ms-transform .5s;transition:opacity .5s,transform .5s}
.difference .projects-link p,.services .projects-link p{-webkit-transition:background-color .5s,opacity .5s .2s,-webkit-transform .5s .2s;-moz-transition:background-color .5s,opacity .5s .2s,-moz-transform .5s .2s;-o-transition:background-color .5s,opacity .5s .2s,-o-transform .5s .2s;-ms-transition:background-color .5s,opacity .5s .2s,-ms-transform .5s .2s;transition:background-color .5s,opacity .5s .2s,transform .5s .2s}
.difference .projects-center-info,.services .projects-center-info{background-color:transparent}
.difference .projects-title,.services .projects-title{text-align:center}
.difference .projects-description,.services .projects-description{display:none}
.difference .expanded .projects-description,.services .expanded .projects-description{display:block}
.products{margin-top:0}
.products-title{font-size:31px}
.build-fast,.build-green,.build-smart,.framing,.offer,.project{text-align:center}
.build-fast-detail,.build-green-detail,.build-smart-detail,.framing-detail,.offer-detail,.project-detail{clear:both;overflow:hidden}
.build-fast-image,.build-green-image,.build-smart-image,.framing-image,.offer-image,.project-image{width:100%;min-height:400px;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-position:center center;margin-bottom:20px}
.build-fast-image img,.build-green-image img,.build-smart-image img,.framing-image img,.offer-image img,.project-image img{width:100%}
.build-fast-content,.build-green-content,.build-smart-content,.framing-content,.offer-content,.project-content{margin-bottom:20px}
.build-fast-share a,.build-green-share a,.build-smart-share a,.framing-share a,.offer-share a,.project-share a{display:inline-block;padding:.5em;color:#787878;font-size:1.5em;vertical-align:middle;text-decoration:none}
.build-fast-gallery,.build-green-gallery,.build-smart-gallery,.framing-gallery,.offer-gallery,.project-gallery{height:98px;margin-top:1em}
.build-fast-gallery img,.build-green-gallery img,.build-smart-gallery img,.framing-gallery img,.offer-gallery img,.project-gallery img{width:auto}
.build-fast-item,.build-green-item,.build-smart-item,.framing-item,.offer-item,.project-item{display:inline-block;width:130px;height:88px;padding:.5em}
.build-fast .cycle-next,.build-fast .cycle-prev,.build-green .cycle-next,.build-green .cycle-prev,.build-smart .cycle-next,.build-smart .cycle-prev,.framing .cycle-next,.framing .cycle-prev,.offer .cycle-next,.offer .cycle-prev,.project .cycle-next,.project .cycle-prev{font-size:2em;color:#fff;background:rgba(0,0,0,.4);padding:.5em;cursor:pointer;position:absolute;top:40%;z-index:200}
.build-fast .cycle-next:hover,.build-fast .cycle-prev:hover,.build-green .cycle-next:hover,.build-green .cycle-prev:hover,.build-smart .cycle-next:hover,.build-smart .cycle-prev:hover,.framing .cycle-next:hover,.framing .cycle-prev:hover,.offer .cycle-next:hover,.offer .cycle-prev:hover,.project .cycle-next:hover,.project .cycle-prev:hover{background:rgba(0,0,0,.8)}
.build-fast .cycle-prev,.build-green .cycle-prev,.build-smart .cycle-prev,.framing .cycle-prev,.offer .cycle-prev,.project .cycle-prev{left:0}
.build-fast .cycle-next,.build-green .cycle-next,.build-smart .cycle-next,.framing .cycle-next,.offer .cycle-next,.project .cycle-next{right:0}
.build-fast .cycle-pager-active:after,.build-green .cycle-pager-active:after,.build-smart .cycle-pager-active:after,.framing .cycle-pager-active:after,.offer .cycle-pager-active:after,.project .cycle-pager-active:after{background:0 0!important}
.build-fast .thumbnails-wrapper,.build-green .thumbnails-wrapper,.build-smart .thumbnails-wrapper,.framing .thumbnails-wrapper,.offer .thumbnails-wrapper,.project .thumbnails-wrapper{position:relative;height:100%;width:100%;overflow:hidden}
.build-fast .thumbnail,.build-green .thumbnail,.build-smart .thumbnail,.framing .thumbnail,.offer .thumbnail,.project .thumbnail{display:block;cursor:pointer;float:left;position:relative}
.build-fast .thumbnail:after,.build-green .thumbnail:after,.build-smart .thumbnail:after,.framing .thumbnail:after,.offer .thumbnail:after,.project .thumbnail:after{position:absolute;content:'';width:100%;height:90%;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,.4);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease}
.build-fast-builds,.build-fast-offer,.build-green-builds,.build-green-offer,.build-smart-builds,.build-smart-offer,.framing-builds,.framing-offer,.offer-builds,.offer-offer,.project-builds,.project-offer{margin-top:4rem}
.build-fast-builds h1,.build-fast-offer h1,.build-green-builds h1,.build-green-offer h1,.build-smart-builds h1,.build-smart-offer h1,.framing-builds h1,.framing-offer h1,.offer-builds h1,.offer-offer h1,.project-builds h1,.project-offer h1{font-size:6rem;line-height:4rem;font-weight:700}
.build-fast-builds a,.build-fast-offer a,.build-green-builds a,.build-green-offer a,.build-smart-builds a,.build-smart-offer a,.framing-builds a,.framing-offer a,.offer-builds a,.offer-offer a,.project-builds a,.project-offer a{text-decoration:none;color:#787878}
.build-fast-builds a:hover,.build-fast-offer a:hover,.build-green-builds a:hover,.build-green-offer a:hover,.build-smart-builds a:hover,.build-smart-offer a:hover,.framing-builds a:hover,.framing-offer a:hover,.offer-builds a:hover,.offer-offer a:hover,.project-builds a:hover,.project-offer a:hover{text-decoration:underline}
.build-fast-builds-fast:hover,.build-fast-offer-fast:hover,.build-green-builds-fast:hover,.build-green-offer-fast:hover,.build-smart-builds-fast:hover,.build-smart-offer-fast:hover,.framing-builds-fast:hover,.framing-offer-fast:hover,.offer-builds-fast:hover,.offer-offer-fast:hover,.project-builds-fast:hover,.project-offer-fast:hover{color:orange}
.build-fast-builds-green:hover,.build-fast-offer-green:hover,.build-green-builds-green:hover,.build-green-offer-green:hover,.build-smart-builds-green:hover,.build-smart-offer-green:hover,.framing-builds-green:hover,.framing-offer-green:hover,.offer-builds-green:hover,.offer-offer-green:hover,.project-builds-green:hover,.project-offer-green:hover{color:#8dc63f}
.build-fast-builds-smart:hover,.build-fast-offer-smart:hover,.build-green-builds-smart:hover,.build-green-offer-smart:hover,.build-smart-builds-smart:hover,.build-smart-offer-smart:hover,.framing-builds-smart:hover,.framing-offer-smart:hover,.offer-builds-smart:hover,.offer-offer-smart:hover,.project-builds-smart:hover,.project-offer-smart:hover{color:#00aeef}
.build-fast-offer h1,.build-green-offer h1,.build-smart-offer h1,.framing-offer h1,.offer-offer h1,.project-offer h1{font-size:4rem;line-height:4rem}
.build-fast-offer a:hover,.build-green-offer a:hover,.build-smart-offer a:hover,.framing-offer a:hover,.offer-offer a:hover,.project-offer a:hover{color:#00aeef}
.about-community,.about-info{overflow:hidden}
.about-community img,.about-info img{width:100%}
.team{margin-top:1em;margin-bottom:3em}
.team-title{text-align:center;padding-bottom:.5em}
.team-img{-webkit-border-radius:50%;border-radius:50%;width:168px;filter:grayscale(100%);-webkit-filter:grayscale(100%);border:3px solid #787878}
.team-readmore{background-color:#fff;padding:.5em;display:none;color:#00aeef;margin-top:2em;cursor:pointer}
.team-readmore.is-visible:after{display:none}
.team-readmore.is-visible:before{display:block}
.team-readmore:after{content:'Read More';display:block;text-align:center}
.team-readmore:before{content:'Read Less';text-align:center;display:none}
.team-readmore:focus{outline:0}
.team-person{position:relative;text-align:center;border-bottom:1px dotted #707070;padding:1em 0}
.team-name{font-weight:700;text-align:center}
.team-description{text-align:left}
.footer{background:#2c323b;overflow:hidden;padding:1em 0}
.footer-logo{display:block;width:181px;margin:0 auto}
.footer-copyright{color:#b6cde9;text-align:center;font-size:13px}
.footer-copyright .icon-avotz{font-size:3em;color:#b6cde9;vertical-align:middle;padding-left:5px}
.footer-links{text-align:center}
.footer-link{display:inline-block;color:#b6cde9;padding:.3em .5em;font-size:1.5em;font-style:normal}
.footer-link:nth-child(1):hover{color:#00aeef}
.footer-link:nth-child(2):hover{color:#ec5220}
.footer-link:nth-child(3):hover{color:#8dc63f}
@media only screen and (min-width:640px){.benefits-tabs ul{float:right}
.benefits-img{display:block;float:left}
.main ul{margin-left:45px}
.projects-item.featured h4{font-size:4em}
.projects-link{background:0 0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.projects-link:hover{background-color:rgba(0,0,0,.5);opacity:1;-ms-filter:none;filter:none;-webkit-transition:background .2s,opacity .2s;-moz-transition:background .2s,opacity .2s;-o-transition:background .2s,opacity .2s;-ms-transition:background .2s,opacity .2s;transition:background .2s,opacity .2s}
.projects-link:hover div{opacity:1;-ms-filter:none;filter:none;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;-ms-transition:opacity .2s;transition:opacity .2s}
.projects-link:hover h4,.projects-link:hover p{opacity:1;-ms-filter:none;filter:none;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-o-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}
.projects-link:hover h4{-webkit-transition:opacity .5s,-webkit-transform .5s;-moz-transition:opacity .5s,-moz-transform .5s;-o-transition:opacity .5s,-o-transform .5s;-ms-transition:opacity .5s,-ms-transform .5s;transition:opacity .5s,transform .5s}
.projects-link:hover p{-webkit-transition:background-color .5s,opacity .5s .2s,-webkit-transform .5s .2s;-moz-transition:background-color .5s,opacity .5s .2s,-moz-transform .5s .2s;-o-transition:background-color .5s,opacity .5s .2s,-o-transform .5s .2s;-ms-transition:background-color .5s,opacity .5s .2s,-ms-transform .5s .2s;transition:background-color .5s,opacity .5s .2s,transform .5s .2s}
.difference .projects-item.featured h4,.services .projects-item.featured h4{font-size:2rem}
.difference .projects-link:hover,.services .projects-link:hover{background-color:transparent}
.difference .expanded .projects-center-info h4,.services .expanded .projects-center-info h4{font-size:4rem}
.difference .expanded .projects-link:hover,.services .expanded .projects-link:hover{background-color:rgba(0,0,0,.5)}
.about-community img,.about-info img{width:300px}
.footer-logo{float:left;width:auto;margin-top:10px}
.footer-copyright{float:right;position:absolute;right:1em;top:0}
.footer-links{text-align:center;width:500px;margin:0 auto}
.footer-link{font-size:2em;padding:.3em 1em}}
@media only screen and (min-width:980px){.btn-menu{display:none}
.menu{float:left;position:static;background:0 0;display:block!important;margin-left:.8em}
.menu li{display:inline-block;vertical-align:top;line-height:84px;position:relative}
.menu .nav-child{display:none;position:absolute;z-index:200;background:#446a8d;width:150px}
.menu .nav-child li{display:block;line-height:25px;border-bottom:1px solid #2b5c7c}
.menu .nav-child li a{display:block;padding:.5em}
.menu .nav-child li a:hover{background:#2c323b}
.menu .nav-child li:last-child{border:none}
.team{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-o-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;-webkit-box-lines:multiple;-moz-box-lines:multiple;-o-box-lines:multiple;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.team-person{min-height:280px;width:45%}
.team-readmore{display:block}
.team-img{float:left;margin-right:1em;margin-top:2em}
.team-description{height:190px;overflow:hidden;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease}
.team-description.is-visible{height:auto;overflow:visible}
.contact-info{position:absolute}
.testimonials{background:#f4f4f4;padding:4em 0}
.testimonials .inner{width:750px}
.main .rightSection{width:34%;margin-left:1em}
.main .leftSection{width:64%}
.home-item{width:45%}
.products-item{width:25%;float:left}
.projects-item{width:33.3333333%;float:left}
.build-fast,.build-green,.build-smart,.framing,.offer,.project{text-align:left}
.build-fast .pull-left,.build-fast-image,.build-green .pull-left,.build-green-image,.build-smart .pull-left,.build-smart-image,.framing .pull-left,.framing-image,.offer .pull-left,.offer-image,.project .pull-left,.project-image{width:540px;float:left;margin-right:20px}
.build-fast-content,.build-green-content,.build-smart-content,.framing-content,.offer-content,.project-content{float:left;width:45%}}
@media only screen and (min-width:1024px){.project-image{width:440px}
.build-green-container,.build-smart-container{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-o-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;-webkit-box-lines:multiple;-moz-box-lines:multiple;-o-box-lines:multiple;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.build-green-item,.build-smart-item{width:48%}}
@media only screen and (min-width:1200px){.inner{padding:0}
.header-logo{width:250px;margin-right:0}
.header-contactCall{display:block}
.banner-info.left{left:0}
.banner-info.right{right:0}
.project-image{width:640px}
.footer-copyright{right:0}}
@media only screen and (max-width:460px){.banner .inner,.banner-slide{height:300px}
.banner-info{padding:2em}
.banner-title{font-size:2.5em}
.banner-subtitle{font-size:2em}}