@import "nib"
@import "normalize.styl"
@import "icons.styl"


gris = #787878
gris2 = #2B313B
naranja = #ec5220
azul = #446a8d
celeste = #00aeef
verde = #8dc63f
azul_oscuro = rgba(44, 50, 59, 1)



body
	font-family 'Lato', sans-serif;
	font-size 16px
	font-weight 300
	line-height 30px
	color #707070

*
	box-sizing border-box

ul
	margin 0
	padding 0

a
	text-decoration none
	color celeste
	

h1
h2
h3
h4
h5
	font-weight 300
	margin-top 0


img
	max-width 100%
	height auto

label
	display inline-block
	//font-size 14px
	margin-bottom 2px
	//color verde2

label.error
	color naranja

input[type="text"],input[type="email"],textarea, select
	appearance none
	background-color #fff
	background-image linear-gradient(#eee 1%, #fff 15%)
	border 1px solid #e3e3e3
	color #444
	width 100%
	height 23px
	//box-shadow 0 0 3px #fff inset,0 1px 1px rgba(0,0,0,0.1)
textarea
	height auto


button,input[type="submit"]
	background rojo
	border none
	clear both
	color white
	cursor pointer
	font-size 12px
	height 26px
	margin-right 4px
	min-width 80px

.right
	right 0
.left
	left 0
.txt-center
	text-align center
.orange
	color naranja
.light-blue
	color celeste
.green
	color verde
.bg-green
	background verde
	
.list-big
	font-size 1.5em
	li 
		margin-bottom 30px
.inner
	max-width 1200px
	margin 0 auto
	position relative
	padding 0 1em

.header
	height 84px
	background azul_oscuro
	//position absolute
	//left 0
	//right 0
	//top 0
	//z-index 200
	&-logo
		display block
		width 200px
		line-height 74px
		float left
		padding-top 10px
		margin-right 5px
		&-img
			width 100%
	&-contactCall
		display none
		float right
		color white
		border 1px solid white
		padding .5em
		margin-top .8em
		border-bottom-width 3px
		font-size 1.2em
		a 
			color #FFF
			
			padding  0 .5em

		.icon-phone
			color white
			display inline-block
			font-size 1em
			vertical-align middle
			margin-right .5em
		p
			display inline-block
			margin 0

.btn-menu
	background transparent
	border 0
	font-size 2em
	display block
	position absolute
	right 0px
	top 25px
	outline none
	height 34px
	width 40px


.menu
	display none
	position absolute
	left 0
	right 0
	top 40px
	background azul
	z-index 999
	text-align center

	ul
		list-style none
	.celeste
		&:hover
			color celeste !important
	.green
		&:hover
			color verde !important
	.orange
		&:hover
			color naranja !important

	li
		display block
		line-height 40px
		span
		a
			display block
			padding 0 .5em
			color #B6CDE9
			cursor pointer
			font-size 1.2em
			&:hover
				color #FFF

	.item-102 // no mostrar el submenu de proyectos
	.item-105
	.item-107
		.nav-child
			display none !important

	.nav-child
		display none
		li
			a
				color white

.banner
	//margin-top 84px
	.inner
		height 500px

	&-slide
		width 100%
		height 500px
		background-size cover

	&-info
		position absolute
		bottom 20%
		background rgba(0,0,0,.8)
		padding 3.5em 2.5em 2em
		border-radius 10px
		&.left
		 	left 1em
		&.right
			right 1em
	&-title
		margin 0
		font-family 'geosans'
		font-size 5em
		color white
		font-weight 300
	&-subtitle
		color azul
		font-family 'geosans'
		font-size 3em
		margin-top .5em
		display block

.testimonials
	background #F4F4F4
	padding 4em 0


.testimony

	&-info
		padding 0 2.5em
		margin-bottom 1.5em

		&:before
		&:after
			font-family 'frame'
			color gris
			position absolute
			font-size 2em

		&:after
			right 0
			content '\f10e'


		&:before
			left 0
			content '\f10d'


	&-author
		font-size 13px
		text-align right
		line-height 16px
		padding-top 15px

		&-avatar
			float right
			margin-left 15px
			margin-top -15px
		img
			border-radius 50%



.main
	padding 25px 0
	min-height 650px

	ul
		margin-left 20px
		margin-bottom 25px
	a 
		text-decoration underline
		&:hover
			text-decoration none

	.leftSection
	.rightSection
		display inline-block
		vertical-align top

	.rightSection
		padding 1em
		color #000
		width 100%

	.leftSection
		width 100%

.bgid-101
	.main
		min-height 0

.bgid-102
	.projects
		margin-top -25px
.bgid-105
	.framing-difference
		margin-top -25px
				
.bgid-107
	.offers
		margin-top -25px


.green-build
	overflow hidden
.benefits
	&-tabs
		overflow hidden
		ul
			margin 0
			padding 0
			list-style none
			
		li 
			display inline-block
			vertical-align top
			background-color azul
			cursor pointer
			color white
			padding .3em
			margin-bottom .5em
			&.active 
			&:hover 
				background-color celeste
	&-container
		position relative
		padding-top 1em
		min-height 360px
	&-item
		display none
		transition all .5s ease
		
		&.is-visible
			display block
	h3
		font-weight bold		
	&-img
		display none 
		max-width 540px
		width 50%
		margin-right 3em
		
		
	
	/*	
	&-items
		display block
		flex-wrap wrap
		justify-content space-between
	.benefit
		display block
		vertical-align top
		position relative
		margin-bottom 1em
		min-height 270px

		&-img
			display none
			position absolute
			left 0
		&-list
			margin-left 0
	*/
		
.partners
	margin-top 3em
	text-align center 
	
	&-title
		text-align center
	&-img 
		filter grayscale(100%)
		-webkit-filter: grayscale(100%)
		transition all .5s ease
		&:hover
			filter grayscale(0%)
			-webkit-filter: grayscale(0%)	
	&-item 
		display inline-block
		padding .3em
.build-smart
.build-green
	&-gallery
		text-align center		
.contact
	&-info
		position static
		right 2em
		bottom 2em

.b2j_contact
	background #FFF !important
.b2jcontainer
	h2
		background celeste
	.btn
		background azul_oscuro !important
		padding .5rem !important
		height auto !important
	
	
.home
	text-align center
	&-items
		margin-top 0
	&-item
		display inline-block
		vertical-align top
		padding 0 1em

		h3
			font-weight 500
	&-segments
		margin-top 1em
	&-segment
		display inline-block
		padding  0 2em
.framing
.offer
.projects
	//margin-top -25px

	&-items
	&-container
		list-style none
		overflow hidden
		clear both
		background url('../img/bg_portafolio.png')

	&-item
		//float left
		width 100%
		line-height 0
		position relative
		

		&.default
		&.featured
			h4
				font-size 2em
		/*&.portrait
		&.featured
			height 450px
			//width 50%
		&.landscape
			max-height 225px*/


	&-link
		display inline-block
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-color rgba(0, 0, 0, 0.5)//background rgba(0, 0, 0, 0)
		opacity 1//opacity 0
		transition background 0.5s 0.5s, opacity 0.5s 0.5s

		&:before
			content ''
			display inline-block
			height 100%
			vertical-align middle
			margin-right -0.4em
		/*&:hover
			background-color rgba(0, 0, 0, 0.5)
			opacity 1
			transition background 0.2s, opacity 0.2s*/

		div///.projects-content
			opacity 1
			transition opacity 0.2s

		h4///.projects-title
		p///.projects-description
			opacity 1
			transform translateZ(0px)
		h4///.projects-title
			transition opacity 0.5s, transform 0.5s
		p///.projects-description
			transition background-color 0.5s, opacity 0.5s 0.2s, transform 0.5s 0.2s

	&-content
		opacity 0
		text-align left
		vertical-align middle
		display inline-block
		width 100%
		transition opacity 0.5s 0.4s, background 0.5s 0.5s
		perspective 300px

	&-title
	&-description
		line-height 25px
		width 90%
		margin 0 5%
		word-wrap break-word

	&-title
		font-size 61px
		line-height: 1em
		color white
		font-weight 900
		margin-bottom 15px
		opacity 0
		transform translateZ(-30px)
		transition opacity 0.2s 0.2s, transform 0.2s 0.2s
		text-shadow 1px 1px 2px rgba(0, 0, 0, .75)

	&-description
		color #e3e3e3
		opacity 0
		transform translateZ(-30px)
		transition background-color 0.5s, opacity 0.2s, transform 0.2s

	&-image
		width 100%

.services
.difference
	.projects
		&-link
			background-color rgba(0, 0, 0, 0.5)
			opacity 1
			transition background 0.2s, opacity 0.2s

			div///.projects-content
				opacity 1
				transition opacity 0.2s

			h4///.projects-title
			p///.projects-description
				opacity 1
				transform translateZ(0px)
			h4///.projects-title
				transition opacity 0.5s, transform 0.5s
			p///.projects-description
				transition background-color 0.5s, opacity 0.5s 0.2s, transform 0.5s 0.2s
		&-center-info
			background-color transparent
			.projects-title 
				text-transform uppercase
		&-title 
			text-align center
			
		&-description
			display none	
.products
	margin-top 0
	&-title
		font-size 31px
.build-fast
.build-smart
.build-green
.framing
.offer	
.project
	text-align center
	&-detail
		clear both
		overflow hidden
	&-image
		width 100% //640px
		min-height 400px
		background-size cover
		background-position center center
		margin-bottom 20px

		img
			width 100%
	&-content
		margin-bottom 20px
	&-share


		a
			display inline-block
			padding .5em
			color gris
			font-size 1.5em
			vertical-align middle
			text-decoration none
	&-gallery
			height 98px
			margin-top 1em

			img
				width auto//100%



		&-item
			display inline-block
			width 130px
			height 88px
			padding .5em


	.cycle-prev
	.cycle-next
		font-size 2em
		color white
		background rgba(0,0,0,.4)
		padding .5em
		cursor pointer
		position absolute
		top 40%
		z-index 200
		&:hover
			background rgba(0,0,0,.8)
	.cycle-prev
		left 0
	.cycle-next
		right 0

	.cycle-pager-active
		&:after
			background rgba(0,0,0,0) !important

	.thumbnails-wrapper
		position relative
		height 100%
		width 100% //640px//870px
		overflow hidden
	.thumbnail
		display block
		cursor pointer
		float left
		position relative
		&:after
			position absolute
			content ''
			width 100%
			height 90%
			left 0
			right 0
			top 0
			bottom 0
			background rgba(0,0,0,.5)
			transition all .3s ease
	&-offer
	&-builds
		margin-top 4rem 
		h1
			font-size 6rem
			line-height 4rem
			font-weight 700
			
		a 
			text-decoration none
			color gris
			&:hover
				text-decoration underline
				
		&-fast
			&:hover
				color orange 
		&-green
			&:hover
				color verde
		&-smart
			&:hover
				color celeste
	&-offer
		h1
			font-size 4rem
			line-height 4rem
		a
			&:hover
				color celeste		
	
.team
	margin-top 1em
	margin-bottom 3em
	&-title 
		text-align center
		//border-bottom 2px dotted gris 
		padding-bottom .5em
		
	&-img 
		border-radius 50%
		width 168px
		filter grayscale(100%)
		-webkit-filter: grayscale(100%)
		border 3px solid gris
	&-readmore
		background-color white
		padding .5em
		display none
		color celeste
		margin-top 2em
		cursor pointer
		&.is-visible
			&:after
				display none
			&:before
				display block
		&:after
			content 'Read More'
			display block
			text-align center
		&:before
			content 'Read Less'
			text-align center
			display none
		&:focus
			outline 0
	&-person 
		position relative
		text-align center
		border-bottom 1px dotted #707070
		padding 1em 0
	&-name
		font-weight 700
		text-align center
	&-description
		text-align left
		

.footer
	background azul_oscuro
	overflow hidden
	padding 1em 0

	&-logo
		display block
		width 181px
		margin 0 auto
		//float left
		//margin-top 10px
	&-copyright
		color #B6CDE9
		//position absolute
		//right 0
		//top 0
		//float right
			
		text-align center
		font-size 13px

		.icon-avotz
			font-size 3em
			color #B6CDE9
			vertical-align middle
			padding-left 5px
	&-links
		text-align center
	&-link
		display inline-block
		color #B6CDE9
		padding .3em .5em
		font-size 1.5em
		font-style normal
		&:nth-child(1):hover
			color celeste
		&:nth-child(2):hover
			color naranja
		&:nth-child(3):hover
			color verde


@import "responsive.styl"
