@media only screen and (min-width: 640px)
	.bgid-109
		.partners
			margin-top -60px
			float right
			
			
	.benefits
		&-tabs
			ul
				float right
					
		&-img
			display block 
			float left
	

	.main
		ul
			margin-left 45px
	
	.projects
		&-item
						
			&.featured
				h4
					font-size 4em
					
		&-link
			background rgba(0, 0, 0, 0)
			opacity 0
			
			&:hover
				background-color rgba(0, 0, 0, 0.6)
				opacity 1
				transition background 0.2s, opacity 0.2s

				div///.projects-content
					opacity 1
					transition opacity 0.2s

				h4///.projects-title
				p///.projects-description
					opacity 1
					transform translateZ(0px)
				h4///.projects-title
					transition opacity 0.5s, transform 0.5s
				p///.projects-description
					transition background-color 0.5s, opacity 0.5s 0.2s, transform 0.5s 0.2s
		
					
					
	.services
	.difference
		.projects
			&-item 
				&.featured
					h4
						font-size 2rem
			&-link
				&:hover
					background-color transparent
		.expanded
			.projects-center-info
				h4
					font-size 4rem
			.projects-link
				&:hover
					background-color rgba(0, 0, 0, 0.6)
	.about 
		&-info
		&-community	
			img 
				
				width 300px	

	.footer
		&-logo
			float left 
			width auto
			margin-top 10px
		&-copyright
			float right
			position absolute
			right 1em
			top 0
			
		&-links
			text-align center
			
			width 500px
			margin 0 auto
		&-link
			font-size 2em
			padding .3em 1em
			

@media only screen and (min-width: 980px)

	.btn-menu
		display none
	.menu
		float left
		position static
		background transparent
		display block !important
		margin-left .8em
		li
			display inline-block
			vertical-align top
			line-height 84px
			position relative

		.nav-child
			display none
			position absolute
			z-index 200
			background azul
			width 150px
			li
				display block
				line-height 25px
				border-bottom 1px solid #2b5c7c

				a
					display block
					padding .5em
					&:hover
						background rgba(44, 50, 59, 1)
				&:last-child
					border none
	/*.benefits
		&-items
			display flex
		.benefit
			width 45%
			display inline-block*/
	.team
		display flex
		justify-content space-between
		flex-wrap wrap 
		&-person
			min-height 280px
			width 45%
		&-readmore
			display block
			
		&-img 
			float left
			margin-right 1em
			margin-top 2em
		&-description
			height 190px
			overflow hidden
			transition all .3s ease
			
			&.is-visible
				height auto
				overflow visible
				
					
	.contact
		&-info
			position absolute
		&-message
			//margin-left -158px
			width 64%


	.testimonials
		background #F4F4F4
		padding 4em 0

		.inner
			width 750px
	.main
		.rightSection
			width 34%
			margin-left 1em
		.leftSection
			width 64%
	.home
		&-item
			width 45%
	.products
		&-item
			width 25%
			float left
	.projects
		&-item
			width 33.3333333%
			float left
			

	.build-fast
	.build-smart
	.build-green
	.framing
	.offer
	.project
		text-align left
		.pull-left
		&-image
			width 540px
			//height 400px
			float left
			margin-right 20px

		&-content
			float left
			width 45%
		/*&-share
			position absolute
			right 0*/

@media only screen and (min-width: 1024px)
	

	.project
		&-image
			width 440px
	
	.build-smart
	.build-green
	
		&-container
			display flex
			justify-content space-between
			flex-wrap wrap
			//overflow hidden
		&-item 
			width 48%
			//float left
			


@media only screen and (min-width: 1200px)
		
	.inner
		padding 0

	.header
		&-logo
			width 250px
			margin-right 0
		&-contactCall
			display block

	.banner
		&-info
			&.left
				left 0
			&.right
				right 0
	.project
		&-image
			width 640px
	.footer
		&-copyright
			right 0

@media only screen and (max-width: 460px)
	.banner
		.inner
			height 300px
		&-slide
			height 300px
		&-info
			padding 2em

		&-title
			font-size 2.5em

		&-subtitle
			font-size 2em
